<li class="producto">
	<h4> <%= item.cliente %> </h4>
	<h4> <%= item.producto %> </h4>
	<h5> <%= item.cantidad__c %> </h4>	
	<h5> <%= item.precio__c %> </h5>
	<h6> <%= item.descuento__c %> </h4>
	<h6> <%= item.ispedido__c %> </h6>	
	<h6> <%= item.isoportunidad__c %> </h6>
	<a href="#pedido_delete/<%= index %>"> Borrar </a>
</li>
