<li class="producto">
	<h4> <%= item.cliente %> </h4>
	<h4> <%= item.producto %> </h4>
	<h4> <%= item.cantidad__c %> </h4>	
	<h5> <%= item.precio__c %> </h5>
	<h4> <%= item.descuento__c %> </h4>
</li>
